* {
    margin: 0;
    padding: 0;
}

.container {
    /* width: 92%; */
    max-width: 100%;
    background-color: #ED1B34;
    padding: 1em;
    color: white;
    display: flex;

}

a {
    /* text-decoration: none; */
    /* color: #333; Puedes cambiar esto al color que desees */
}

.phone {
    margin-left: 1em;
    display: flex;
    align-items: center;
}

.mail {
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.mail a {
    text-decoration: none;
    padding-left: 10px;
    color: white;
}

.icons {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.icons a {

    text-decoration: none;
    color: white;
    padding-right: 15px;

}

.icons svg {
    margin-right: 1em;
}

.icons svg:last-child {
    margin-right: 0;
}

/*tablet *********************************************************Tablet********************************************* */
@media (min-width: 769px) and (max-width: 900px) {
    .container {
        flex-direction: column;
        max-width: 92%;
        /* margin: 0 auto;; */
    }

    .icons {
        order: -1;
        margin: 6px 12px;
        display: flex;
        justify-content: space-between;


    }

    .phone {
        margin: 5px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .mail {
        margin: 5px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}

@media (max-width: 901px) {

    .container {
        flex-direction: column;
        /* max-width: 96%; */
        /* width: 99%; */
        max-width: 100%;
        background-color: #ED1B34;
        padding: 1em;
        color: white;
        display: flex;

    }


    .icons {
        order: -1;
        margin: 6px 12px;
        display: flex;
        justify-content: space-between;


    }

    .phone {
        margin: 5px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .mail {
        margin: 5px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}