@media (max-width: 768px) {
    .contenedor-objetivos-1 {
        /* background-image: url('https://fotos.perfil.com/2023/06/24/trim/987/555/la-rueda-de-eiffel-en-el-parque-de-la-biodiversidad-1595429.jpeg?webp'); */
        /* background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.LnFWaKb_HZ_iKk1xMxzIZQHaE8%26pid%3DApi&f=1&ipt=50cfca85d3fce86adf96be5c1e02bb1e945bab26288834418546f6c171bb25e1&ipo=images'); */
        background-image: url('https://sumarservicios.com.ar/wp-content/uploads/2020/02/home_contador_fondo-recorte.jpg');

        background-size: cover;
        /* Ajusta el tama침o de la imagen de fondo */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        background-position: center;
        /* Centra la imagen de fondo */
        background-attachment: fixed;
        /* Fija la imagen de fondo en su posici칩n */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 99%;
    }

    .contenedor-objetivos-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-top: 60px; */
        /* margin-bottom: 60px; */
        padding: 0 20px;
    }

    .contenedor-objetivos-2 p {
        background-color: rgba(0, 0, 0, 0.371);
        padding-top: 50px;
        font-size: 24px;
        font-family: "";
        color: white;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 50px;

    }

    .objcard {
        /* background-color: rgba(0, 0, 0, 0.132); */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .objcard .obj-icon {
        color: #ec1b34;
        font-size: 31px;
        padding-bottom: 15px;
    }

    .objcard {
        font-size: 36px;
        font-family: 'Lato', sans-serif;
        color: white
    }

    .objcard h6 {
        font-family: 'Lato', sans-serif;
        font-size: 18px
    }

    .contenedor-objetivo-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        /* background-color: rgba(0, 0, 0, 0.421); */
        padding-bottom: 20px;
       
        background-size: cover;
        /* Ajusta el tama침o de la imagen de fondo */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        background-position: center;
        /* Centra la imagen de fondo */
        background-attachment: fixed;

        
    }

    .contenedor-objetivo-3 h3 {
        display: flex;
        justify-content: center;
        font-family: 'Lato', sans-serif;
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
    }

    .contenedor-objetivo-3 span {
        display: flex;
        justify-content: center;
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
    }

    .contenedor-objetivo-3 button {
        background-color: #ec1b34;
        color: white;
        padding: 10px;
        margin: 20px
    }

    .contenedor-objetivos-4 .linea-divisoraf {
        width: 88px;
        height: 2px;
        background-color: #ec1b34;
        margin: 16px 0;
        padding-right: 70px;
        margin-left: 20px;
    }

    .contenedor-objetivos-4 h2 {
        font-family: 'Lato', sans-serif;
        padding-top: 40px;
        font-size: 18px;
        padding-left: 20px;
    }

    .contenedor-objetivos-4 img {
        width: 100%;
        height: 100%;
    }
}

/* ******************************************************************************/

@media (min-width: 768px) {

    .contenedor-objetivos-1 {
        /* height: 30%; */
        /* width: 30%; */
    }

    .contenedor-objetivos-1 {
        /* background-image: url('https://fotos.perfil.com/2023/06/24/trim/987/555/la-rueda-de-eiffel-en-el-parque-de-la-biodiversidad-1595429.jpeg?webp'); */
        /* background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.LnFWaKb_HZ_iKk1xMxzIZQHaE8%26pid%3DApi&f=1&ipt=50cfca85d3fce86adf96be5c1e02bb1e945bab26288834418546f6c171bb25e1&ipo=images'); */
        /* background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.JBRxk3tODh9UGpNhzLsb1wHaEK%26pid%3DApi&f=1&ipt=7c0421dd86bd35f1af240e4a0d31643c5362722417bf31f46a95456a084ce92d&ipo=images'); */
        background-image: url('https://sumarservicios.com.ar/wp-content/uploads/2020/02/home_contador_fondo-recorte.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        /* align-items: center; */

    }

    .contenedor-objetivos-2 {
        /* display: flex; */
        /* flex-direction: column; */
        align-items: center;
        /* margin-top: 60px; */
        margin-bottom: 0px;
        /* padding: 0 20px; */
    }

    .contenedor-objetivos-2 p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.371);
        /* padding-bottom: 15px; */
        font-size: 34px;
        font-family: "";
        color: white;
        text-align: center;
        margin: 0 auto;
        padding: 25px;
    }

    .cartasobj {
        display: flex;
        flex-direction: row;
        padding: 30px;
        margin-top: 50px;
        justify-content: center;
    }

    .objcard {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .objcard .obj-icon {
        color: #ec1b34;
        font-size: 50px;
        padding-bottom: 15px;
    }

    .objcard {
        font-size: 36px;
        font-family: 'Lato', sans-serif;
        color: white
    }

    .objcard h6 {
        font-family: 'Lato', sans-serif;
        font-size: 30px
    }

    .contenedor-objetivo-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.421);
        padding-bottom: 20px;
        background-size: cover;
        /* Ajusta el tama침o de la imagen de fondo */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        background-position: center;
        /* Centra la imagen de fondo */
        background-attachment: fixed;
    }

    .contenedor-objetivo-3 h3 {
        display: flex;
        justify-content: center;
        font-family: 'Lato', sans-serif;
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        /* padding: 20px; */
        /* margin-top: 30px; */
    }

    .contenedor-objetivo-3 span {
        display: flex;
        justify-content: center;
        font-size: 26px;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
        margin-bottom: 20px;


    }

    .contenedor-objetivo-3 button {
        /* background-color: #ec1b34; */
        /* color: white;
        padding: 10px;
        margin: 2000px */
    }

    .contenedor-objetivos-4 .linea-divisoraf {
        width: 88px;
        height: 2px;
        background-color: #ec1b34;
        margin: 16px 0;
        padding-right: 70px;
        margin-left: 20px;
    }

    .contenedor-objetivos-4 h3 {
        font-family: 'Lato', sans-serif;
        padding-top: 40px;
        font-size: 30px;
        padding-left: 20px;
        color: rgba(0, 0, 0, 0.791);



    }

    .contenedor-objetivos-4 img {
        width: 80%;
        height: 80%;
        padding-left: 0%;
    }

    .contenedor-objetivo-3 button {
        background-color: #ec1b34;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 26px;
        border-radius: 20px;

    }
}