.sidenav1 {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111b4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    /* padding-bottom: 10px; */


}

.menu-side a {
    width: 70%;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 2;

}

.menu-side a:hover {
    /* height: 20px; */
    /* background-color: aqua;
    color: greenyellow; */
}

.menu-side a {
    color: white;
    /* background-color: pink;  */
    font-size: 16px;


}

.menu-side a:hover {
    color: red;
}

.menu-panel2 {
}

.menu-panel2 :hover {
    background-color: red;
}

.closebtn {

    /* position: absolute; */
    position: fixed;
    top: 30px;
    font-size: 45px;
    z-index: 2;
    border-radius:50%;
    padding-top: 10px;
    /* background-color: red; */
}

.closebtn :hover {
    background-color: red;
    border-radius:30%;
}

/* ************************************************************************************************************* */

.menu-side .dropdown2 {
    margin-left: 33px;
}

/* .dropbtn2 {
    font-size: 20px;
    border: none;
    outline: none;
    color: violet;
    background-color: aqua;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; */
/* } */



.dropdown2:hover {
    /* background-color: red;
    color: white;  */

}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* background-color: violet; */
    /* max-width: 50%; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content2 a {
    float: none;
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    /* text-align: left; */


}

.dropdown-content2 a:hover {
    background-color: #ddd;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

/************************ Estilos para submenus */

.sub-menu2 {
    position: relative;
}

.sub-menu-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 10px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    top: 0;
    left: 80%;

}
.sub-menu-content2 a {
/* background-color: aqua; */
/* margin-right: 90%; */
/* padding: 5px; */
}

.sub-menu2:hover .sub-menu-content2 {
    display: block;

}


.menu-button1 {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    background-color: aqua;

}